#input_con
  {
    width: 300px;
    background-color: #fff;
  }
#input
  {
    width: 255px;
    padding: 5px;
    bottom: 0px;
    margin: 4px;
    margin-left: 5px;
    padding-right: 10px;
    padding-left: 4px;
}
  #rec
  {
    font-size: 19px;
    margin: -4px;
    padding: initial;
    margin-bottom: 9px;
    margin-top: 6px;
    padding-top: 0px;
    padding-right: 7px;
    padding-left: 8px;
    padding-bottom: 2px;
    border-radius: 21px;
    color: white;
    background: orangered;
}

  }
  .speak
  {
    color: #e48715;
  }
  .stop
  {
    color: #000;

  }
  #response_cont
  {
      width: 300px; 
      height: 300px; 
    overflow-y: scroll;
    max-height: 400px;
    background:url('../../bookingjini.com/images/logo.png') no-repeat center #fff;
    border-left: 1px solid #e48715;
    border-right: 1px solid #e48715;
    background: #fff8e1
  }
  #response
  {
      width: 300px; 
      height: 300px; 
      border: 1px solid #ddd;
     display: table-cell;
    vertical-align: bottom;
    
  }
  .request_text
  {
     background-color: #efefef;
    float: left;
    margin-right: 15px;
    margin-top: 15px;
    margin-left: 10px;
    display: inline-block;
    padding: 10px 18px;
    border-radius: 11px;
    border: 1px solid #eee;
    margin-bottom: 5px;
    font-size: 16px;
    clear: both;
    max-width: 280px;
    
  }
  .response_text
  {
    background-color: #e48715;
    color: #fff;
    float: right;
    margin-right: 10px;
        margin-top: 15px;
        margin-left: 15px;
    display: inline-block;
      padding: 7px 12px;
      border-radius: 11px;
      border: 1px solid #eee;
      margin-bottom: 5px;
      font-size: 16px;
      clear: both;
      max-width: 280px;
    
  }
  .lod
  {
    float: right;
    margin-right: 10px;
        margin-top: 15px;
        margin-left: 15px;
    display: inline-block;
      margin-bottom: 5px;
      clear: both;
    
  }

  #chat
  {
    position: fixed;
    bottom: 0px;
    right: 20px;
    z-index: 11111111111;

  }
  #chat_head
  {
      width: 300px;  
      padding:9px 15px; 
      background-color: #e48715; 
      color:#fff;
      cursor: pointer;
      border-top-left-radius: 10px;
      border-top-right-radius: 10px;
  }
  #intro
	{
      width: 300px; 
      height: 350px;
      background-color: #fff;
      position: absolute;
      text-align: center;
      padding: 14px;
	}
	.textd
	{
       padding: 10px;
       width: 250px;
       margin: 5px;
	}
